{% extends 'base.html' %}
{% load staticfiles %} <!-- must load static files on every template, even though it extends another template -->

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'FootyApp/footy_style.css' %}">
{% endblock %}

{% block pagetop-css %} cover-footy {% endblock %}

{% block page-title %}Footy App{% endblock %}
{% block page-subtitle %}Get all of your Timbers info here!{% endblock %}
{% block button1 %}<a href="{% url 'footy' %}" class="contact-btn">Footy Home</a>{% endblock %}
{% block button2 %}<a href="{% url 'listJerseys' %}" class="contact-btn">Jerseys</a>{% endblock %}
{% block button3 %}<a href="{% url 'footyApi' %}" class="contact-btn">API Service</a>{% endblock %}
{% block button4 %}<a href="{% url 'MLSNews' %}" class="contact-btn">MLS News</a>{% endblock %}

{% block appcontent %}
    <section>

    {% block templatecontent %}{% endblock %} <!-- section that all the template specific content will render within -->
{% endblock %}

