{% extends 'TravelApp/travel_base.html' %}
{% load staticfiles %}
{% block templatecontent %}
<section>
        <div class="main weather-container">
                <p id="weather-title">Welcome to the Travel App</p>
                <div>
                        <p class=weather-text">
                        This is an app for managing a list of travel destinations. There's a database to manage a
                        collection of destinations you have travel to or would like to travel to, an API for users
                        to look up the weather in various locations, and recent travel news and stories scraped from
                        a travel website. Take a look.
                        </p>
                </div>
        <br />
        </div>

</section>
{% endblock %}
