{% load staticfiles %}

<section class="{% block pagetop-css %}cover-main{% endblock%}" id="home">
    <header>
        <nav class="nav-wrapper">
            <div class="logo">
                <a href="{% url 'home' %}">
                    <img src="{% static 'images/shipswheel.png' %}">
                </a>
            </div>
            <ul class="menu">
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#apps">Apps</a></li>
            </ul>
        </nav>
    </header>
    <div class="wrapper">
        <ul id="scene"
            data-invert-x="false"
            data-invert-y="false"
            data-scalar-x="7"
            data-scalar-y="7"
            data-friction-x="0.1"
            data-friction-y="0.1"
            data-origin-x="0.5"
            data-origin-y="0.5">
                <li class="layer name" data-depth="0.9">{% block page-title %}Hobby Manager{% endblock %}</li>
                <li class="layer title" data-depth="0.3">{% block page-subtitle %}Python Live Project{% endblock %}</li>
                <li class="layer btn btn-main" data-depth="0.3">
                    {% block button1 %}<a href="#" class="contact-btn">View Portfolio</a>{% endblock %}
                    {% block button2 %}<a href="#" class="contact-btn">Contact Us</a>{% endblock %}
                    {% block button3 %}{% endblock %}
                    {% block button4 %}{% endblock %}
                </li>
        </ul>
    </div>
</section>
