{% extends 'EdsApp/Eds_base.html' %}
{% load staticfiles %}
{% block templatecontent %}
<section>
    <div class="main weather-container">
        <p id="weather-title">Welcome to Ed's App</p>
        <div>
            <p class="weather-text">
            This is an example app I made to show some example of python projects you can do. 
            There's a database to manage a collection of pets, a weather app for viewing local
            weather as well as being able to search for weather anywhere in the world, and there's
            an API for users to look up... to be continued.
            Come Take a look.
            </p>
        </div>
        <br />
    </div>
</section>
{% endblock %}
